main {
    flex: 1 1 auto;
    color: #3C4043;
    padding: 0 0 0 0;
}
main>*{
    margin: 0 0 120px 0;
}
.icon{
    -webkit-mask: url(../images/icons/long-arrow-right.svg) center / 100% no-repeat;
    mask: url(../images/icons/long-arrow-right.svg) center / 100% no-repeat;
    width: 30px;
    height: 30px;
    background-color: white;
}
.title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: calc(44/26*100%);
    margin: 0 0 50px 0;
}
.subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: calc(22/18*100%);
    text-align: center;
    margin: 0 0 40px 0;
}
.button{
    display: inline-flex;
    padding: 0 10px;
    height: 40px;
    border-radius: 100px;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    gap: 12px;
    background-color: #6D6875;
    transition: box-shadow .3s ease;
}
.button__link:hover{
    box-shadow: 0px 7px 20px 0px rgba(181, 131, 141, 0.5);
}
.image{
    
}
.image img{
    display: block;
    width: 100%;
    object-fit: cover;
}

/*---------------------------------------- ПОПУЛЯРНОЕ */

.main__products {
}

.products {}

.products__title {}


.products__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.products__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 317px;
    border-radius: 18px;
    padding: 15px 43px;
    background-color: #FFB4A2;
    filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.2));
    transition: filter .3s ease;
}

.products__card:hover {
    filter: drop-shadow(0px 7px 20px #B5838D);
}

.card {}
.products__card>*:not(:last-child) {
    margin: 0 0 10px 0;
}

.card__image {
}

.card__image img {
    height: 200px;
    border-radius: 10px;
}

.card__title {
    font-size: 24px;
    line-height: 29px;
}

.card__desc {
    margin: 0 0 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    flex: 1 1 auto;
    text-align: center;
}

.card__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.card__buy {
    background-color: #6D6875;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform .3s ease;
}
.card__buy:hover{
    transform: scale(1.1);
}
.card__buy img{
    width: 24px;
    height: 24px;
}
.products__link{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    transition: transform .3s ease;
}
.products__link:hover{
    transform: scale(1.1);
}
/* ----------------------------------О НАС */
.main__about {
}
.about {
}
.about__container {
    display: flex;
    align-items: center;
    gap: 100px;
}
.about__image {
    flex: 0 0 620px;
    height: 414px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.45);
    border-radius: 24px;
}
.image {
}
.about__block{
    text-align: center;
    padding: 0 100px 0 0;
}
.about__block>*:not(:last-child){
    margin: 0 0 29px 0;
}
.about__title {
}
.about__text {
    flex: 1 1 auto;
    text-align: justify;
    line-height: calc(22/18*100%);
}
.button {
}
.about__link {
    background-color: #FFB4A2;
}
/* -----------------------------------------ДОСТАВКА */

.main__delivery {
}
.delivery {
}
.delivery__container {
}
.container {
}
.delivery__title {
    margin: 0 0 10px 0;
}
.delivery__subtitle {
}
.delivery__logos {
    display: flex;
    align-items: center;
    gap: 53px;
}
.delivery__logo {
    width: 270px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #FFB4A2;
    transition: box-shadow .3s ease;
}
.delivery__logo img{
    width: 230px;
    object-fit: cover;
}
.delivery__logo:hover{
    box-shadow: 0px 8px 15px 0px rgba(181, 131, 141, 1);
}
.logo-delivery-1 {

}
.logo-delivery-2 {

}
.logo-delivery-3 {

}
.logo-delivery-4 {
}

@media (max-width:767px) {
    .title{
        font-size: 28px;
    }
    .card__title {
        font-size: 22px;
    }
    .products__cards{
        gap: 30px;
    }
    .products__card{
        flex: 0 1 270px;
    }
}
@media (max-width:575px) {
    .products__card{
        flex: 0 1 230px;
        padding: 15px 20px;
    }
    .card__title {
        font-size: 24px;
    }
    
    .card__desc {
        font-size: 14px;
    }
    .card__price{
        font-size: 20px;
    }
}
@media (max-width:424px) {
    .title{
        font-size: 20px;
        margin: 0 0 20px 0;
    }
}