/* -----------------------------АВТОРИЗАЦИЯ */
.authorize, .register {
    padding: 220px 0 0 0;
}
.authorize__container {
}
.authorize__section, .register__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
.authorize__title {
}
.authorize__form {
}
.form {
    background-color: var(--color-B5838D);
    border-radius: 24px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.45);
    padding: 20px 30px;
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
}
.form >*:not(:last-child){
    margin-bottom: 20px;
}
.authorize-form__label {
}
.form__label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
}
.authorize-form__input {
}
.form__input {
    margin-top: 15px;
    font-size: 14px;
    border: none;
    background: var(--color-FFB4A2);
    color: var(--color-3C4043);
    border-radius: 24px;
    padding: 15px;
}
.authorize-form__submit {
}
.form__submit {
    background-color: var(--color-FFB4A2);
    padding: 9px 13px;
    border-radius: 24px;
    font-weight: bold;
    margin: 0 auto;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.authorize__link {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.authorize__link a{
    font-weight: bold;
}
.authorize__link a:hover{
    text-decoration: underline;
}
/* -----------------------------РЕГИСТРАЦИЯ */
.register {
}
.register__container {
}
.container {
}
.register__section {
}
.register__title {
}
.title {
}
.register__form {
}
.form {
}
.register-form__label {
}
.form__label {
}
.register-form__input {
}
.form__input {
}
.register-form__submit {
}
.form__submit {
}
.authorize__link {
}