@import url(font.css);
@import url(slider.css);
@import url(popup.css);
@import url(header.css);
@import url(footer.css);
@import url(main.css);
@import url(about-main.css);
@import url(cakes-main.css);
@import url(contact_us-main.css);
@import url(delivery-main.css);

:root {
  --color-FFCDB2: #FFCDB2;
  --color-FFB4A2: #FFB4A2;
  --color-E5989B: #E5989B;
  --color-B5838D: #B5838D;
  --color-6D6875: #6D6875;
  --color-3C4043: #3C4043;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3C4043;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25);
}
body.lock{
  overflow: hidden;
}
.scrollbar::-webkit-scrollbar{
  width: 3px;
}
.scrollbar::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #3C4043;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, serif;
  font-size: 18px;
  letter-spacing: 0.045em;
}

a,
button,
span {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  border: none;
  letter-spacing: inherit;
}

html,
body {
  height: 100%;
  background-color: var(--color-FFCDB2);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 10px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0 auto;
}

.main__container {}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}

.footer__down_container {
  box-sizing: border-box;
  padding: 0 20px;
}

@media (max-width:767px) {
  .header__nav {
    height: 50px;
  }
}