footer {
  background-color: #6d6875;
  color: #fff;
}

footer p,
footer a {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.045em;
}

.footer__left,
.footer__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.footer__left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 625px;
     -moz-box-flex: 0;
          flex: 0 1 625px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

.footer__right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

.footer__bottom {
  text-align: center;
}
.footer__bottom_container hr{
  height: 1px;
  color: #fff;
  background-color: #fff;
}
.footer__logo,
.footer__link {
  color: #fff;
}

.footer__logo {
  font-family: "SeoulHangang CBL", serif;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.105em;
}
.footer__logo:hover{
  text-shadow: 0px 7px 20px rgba(0, 0, 0, 0.45);
}
.footer__copyright {
  padding: 15px 0;
}

.footer__title {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style: none;
}

.footer__list li:not(:last-child) {
  margin-bottom: 20px;
}

.footer__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.footer__links ul {
  list-style: none;
  margin-right: 30px;
}
.footer__links ul:last-child {
  margin-right: 0;
}
.footer__link {
  line-height: 17px;
  letter-spacing: 0.045em;
}
.footer__logo,.footer__link,.footer__address{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.footer__logo:hover,.footer__link:hover, .footer__address:hover{
  color: #FFB4A2;
}
.footer__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.footer__social {
  margin-right: 58px;
}
.footer__social a:not(:last-child){
  margin-right: 10px;
}
.social__title {
  margin-bottom: 6px;
}

.pay__title {
  margin-bottom: 10px;
}

.footer__address {
  margin-top: 11px;
}

.social__block,
.pay__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.social__block img:not(:last-child),
.pay__block img:not(:last-child) {
  margin-right: 10px;
}
.footer__burger{
  display: none;
}
@media (max-width:1200px) {
  
}
@media (max-width:1160px) {
  .footer__container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
  }
  .footer__left{
    -webkit-box-flex: 0;
    -webkit-flex: none;
       -moz-box-flex: 0;
            flex: none;
    width: 70%;
    margin: 0 auto 30px;
  }
  .footer__right{
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
  }
}
@media (max-width:992px) {
    
}
@media (max-width:767px) {
  .footer__logo{
    font-size: 30px;
  }
  .footer__left{
    width: 100%;
  }
}
@media (max-width:575px) {
  .footer__left{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    margin: 0 0 20px 0;
  }
  .footer__left>*:not(:last-child){
    margin-bottom: 20px;
  }
  .footer__links{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
  }
  .footer__links ul:not(:last-child){
    margin:0 0 20px 0;
  }
  .footer__block{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
  }
  .footer__block>*:not(:last-child){
    margin: 0 0 20px 0;
  }
  .footer__social{
    margin: 0;
  }
  .social__title, .pay__title{
    text-align: center;
  }
  .social__block, .pay__block{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }
  .footer__address{
    margin: 20px 0 0 0;
  }
  .footer__list{
    display: none;
  }
  .footer__burger{
    display:block;
    width:100%;
    overflow:hidden;
  }
  .footer__burger ul{
    list-style: none;
  }
  .footer__burger li{
    margin-bottom: 20px;
  }
  .footer__burger ul:last-child li:last-child{
    margin: 0;
  }
  summary::-webkit-details-marker{display:none;}
  summary::-moz-list-bullet{list-style-type:none;}
  summary::marker{display:none;} 
  summary {
     display:block;
     font-size:1.4em;
     cursor: pointer;
     position: relative;
  }
  summary:before {  
    right: 0;
    background: url("../images/icons/bottom-arrow.svg") center / 100% no-repeat;
    width: 24px;
    height: 24px;  
    content: "";
    position: absolute;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -moz-transition: transform .5s ease, -moz-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease, -moz-transform .5s ease;
  }
  details[open] > summary:before {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  details[open] summary ~ *{ 
    -webkit-animation: sweep .3s alternate ease; 
       -moz-animation: sweep .3s alternate ease; 
            animation: sweep .3s alternate ease;
  }
  @-webkit-keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
  }
  @-moz-keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
  }
  @keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
  }
}
@media (max-width:424px) {
  .footer__address{
    font-size: 12px;
  }
}