header {
    background-color: var(--color-red);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 10px 50px 0px #00000040;
    transition: background-color .3s ease;
}

header.header_opacity {
    background-color: rgba(181, 131, 141, 0.8);
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    height: 70px;
    margin: 0 auto;
}

.header__logo,
.header__link {
    color: #fff;
}

.header__logo {
    font-family: "SeoulHangang CBL";
    text-decoration: none;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.105em;
    justify-self: start;
    transition: color .3s ease;
}

.header__logo:hover {
    text-shadow: 0px 7px 20px rgba(0, 0, 0, 0.45);
}

.header__list {
    display: flex;
    list-style: none;
}

.header__list li:not(:last-child) {
    margin: 0px 20px 0 0;
}

.header__link {
    position: relative;
    text-decoration: none;
    line-height: 17px;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: 600;
    transition: color .3s ease;
}

.header__link:after {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 0%;
    bottom: -5px;
    border-radius: 100px;
    left: 50%;
    position: absolute;
    transition: width .3s ease;
    transform: translateX(-50%);
}

.header__link:hover:after,
.header__link:focus:after {
    width: 100%;
}

.header__logo:hover {
    color: var(--color-orange-2);
}

.header__buttons {
    display: flex;
    align-items: center;
    list-style: none;
    justify-self: end;
}

.header__buttons li {
    margin-left: 14px;
}

.header__button {
    display: flex;
    align-items: center;
    padding: 9px 13px;
    border-radius: 100px;
    background: var(--color-orange-2);
    color: var(--color-black);
    transition: box-shadow .3s ease;
}

.header__button {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.045em;
    position: relative;
}

.header__button.icon:before {
    margin-right: 10px;
    background-color: var(--color-black);
    width: 16px;
    height: 16px;
}
.header__button.shop-panel.icon:before{
    -webkit-mask: url(../images/icons/shopping-cart.svg) center / 100% no-repeat;
    mask: url(../images/icons/shopping-cart.svg) center / 100% no-repeat;
}
.header__button-sign.icon:before{
    -webkit-mask: url(../images/icons/user.svg) center / 100% no-repeat;
    mask: url(../images/icons/user.svg) center / 100% no-repeat;
}
.header__button:hover {
    box-shadow: 0px 7px 20px 0px #FFCDB280;
}
.shop-panel__length {
    display: none;
    background-color: var(--color-gray);
    color: white;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 20px;
    top: 2px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
.header__burger {
    -webkit-mask: url(../images/icons/burger.svg) center / 100% no-repeat;
    mask: url(../images/icons/burger.svg) center / 100% no-repeat;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: none;
    transition: transform .3s ease;
}

.header__burger_close {
    -webkit-mask: url(../images/icons/close.svg) center / 100% no-repeat;
    mask: url(../images/icons/close.svg) center / 100% no-repeat;
    transform: rotate(360deg);
}

@media (max-width:1200px) {}

@media (max-width:992px) {}

@media (max-width:926px) {
    .header__list {
        transform: none;
        position: unset;
    }

    .header__button {
        font-size: 0;
    }

    .header__button.icon:before {
        margin-right: 0;
    }
}

@media (max-width:767px) {
    .header__nav {
        height: 50px;
    }

    .header__logo {
        font-size: 30px;
    }

    .header__burger {
        display: block;
    }

    .header__list {
        display: none;
    }

    .burger__list {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 20%;
        top: 100%;
        left: 0;
        background-color: #6d6875;
        padding: 20px 10px;
        animation: anim-list .3s alternate ease;
    }

    .burger__list::before {
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .burger__list li:not(:last-child) {
        margin: 0px 0 20px 0;
    }

    @keyframes anim-list {
        from {
            top: -100%;
            opacity: 0;
        }

        to {
            top: 100%;
            opacity: 1;
        }
    }
}

@media (max-width:575px) {}

@media (max-width:424px) {
    .header__logo {
        font-size: 20px;
    }

    .header__buttons li {
        margin-left: 7px;
    }

    .header__burger {
        width: 35px;
        height: 35px;
    }

    .header__list {}

    .burger__list {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: calc(100% - 50px);
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        animation: anim-list .3s ease;
    }

    .burger__list::before {
        content: unset;
    }

    .header__link {
        font-size: 24px;
    }

    .header__list li:not(:last-child) {
        margin: 0 0 30px 0;
    }

    @keyframes anim-list {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}