@import url(font.css);
@import url(slider.css);
@import url(popup.css);
@import url(header.css);
@import url(footer.css);
@import url(main.css);
@import url(contact_us-main.css);
@import url(form.css);
@import url(about-main.css);
@import url(cakes-main.css);
@import url(delivery-main.css);
@import url(orders.css);

:root {
  --color-orange-1: #FFCDB2;
  --color-orange-2: #FFB4A2;
  --color-orange-3: #E5989B;
  --color-red: #B5838D;
  --color-gray: #6D6875;
  --color-black: #3C4043;
}
/* ---------------------СКРОЛЛ ДЛЯ FIREFOX */
*{
  scrollbar-width: thin;
  scrollbar-color: var(--color-black) transparent;
}
/* ---------------------СКРОЛЛ ДЛЯ ДРУГИХ БРАУЗЕРОВ*/
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #3C4043;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25);
}
body.lock{
  overflow: hidden;
}
.scrollbar::-webkit-scrollbar{
  width: 3px;
  height: 5px;
}
.scrollbar::-webkit-scrollbar-thumb{
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #3C4043;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, serif;
  font-size: 18px;
  letter-spacing: 0.045em;
}

a,
button,
span {
  display: inline-flex;
  font: inherit;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  border: none;
  letter-spacing: inherit;
}

html,
body {
  height: 100%;
  background-color: var(--color-orange-1);
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 10px;
}

.main__container {}

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  padding: 30px 10px;
}

.footer__bottom_container {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}
@media (max-width: 575px){
  .footer__container{
    padding: 30px 10px 15px;
  }
}